@model IEnumerable<tbl_Members>
@{
    ViewBag.Title = "MembersList";
}

<h2>Members List</h2>
<br /><br />
<table class="table-bordered table-responsive table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>FIRSTNAME</th>
            <th>SURNAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ISACTIVE</th>
        </tr>
    </thead>
    <tbody>
        @foreach(tbl_Members members in Model )
        {
            if(members.ISACTIVE.Value)
            {
                <tr>
                    <td style="background-color:green">@members.FirstName</td>
                    <td>@members.Surname</td>
                    <td>@members.Email</td>
                    <td>@members.Gsm</td>
                    <td>
                        @Html.ActionLink("Detail View", "Detail", "Home", new { @id=members.MemberID},new
                   { @class="btn btn-success" })
                        @Html.ActionLink("Update", "Update", "Member", new { @id = members.MemberID }, new
                   { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", "Member", new { @id = members.MemberID }, new
                   { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td style="background-color:red">@members.FirstName</td>
                    <td>@members.Surname</td>
                    <td>@members.Email</td>
                    <td>@members.Gsm</td>
                    <td>
                        @Html.ActionLink("Detail View", "Detail", "Home", new { @id = members.MemberID}, new { @class = "btn btn-success" })
                        @Html.ActionLink("Update", "Update", "Member", new { @id = members.MemberID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Activate", "Activate", "Member", new { @id = members.MemberID }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        }
    </tbody>



</table>
